.panelGroup {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.resizeHandle {
  background-color: var(--gray-a5);
  transition: background-color var(--duration-normal);
  width: 1px;

  &:hover {
    background-color: var(--gray-a7);
  }

  &[data-resize-handle-active] {
    background-color: var(--accent-9);
  }
}

.zenTitleBar {
  z-index: var(--z-sticky);
}
