.code {
  color: var(--accent-12);
  font-family: var(--mono-font-family);
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.04px;
  line-height: 16px;
}
