.reposList {
  margin-bottom: 0;
}

.separator {
  background-color: var(--gray-4);
  margin: var(--space-4) 0;
}

.emptyState {
  color: var(--gray-11);
  padding: var(--space-8);
  text-align: center;
}
