@use "scrollbar" as *;

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.container {
  background-color: light-dark(var(--color-panel-solid), var(--color-background));
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  @include thin-scrollbar;
}
