.sidebar {
  background-color: var(--gray-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-2);
  width: 42px;

  &.left {
    border-right: 1px solid var(--gray-a5);
  }

  &.right {
    border-left: 1px solid var(--gray-a5);
  }
}

.spacer {
  flex: 1;
}
